body{   
    background-color: #c1c1c1;
}

#container ul li {

    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#container .mycheck {
    opacity: 1;
    border-radius: 10.px;

}

#visual {
    opacity: 1 !important;
    
}
